.navBar{
    
    justify-content: center;
    button{
        margin-left:15px !important;
        margin-right: 15px !important;
        font-family: "Rubik" !important;
        
       
    }
    
}